---
layout: default
title: About
permalink: /About/
includelink: true
---

<!--header class="about-header">
</header-->
<h1 class="about-header">{{page.title}}</h1>

<!--div class="container"-->
<p class="about-content">
{% include about/poem.md %}
</p>
<div id="instagram-feed1"　class="instagram"></div>
    <script src="/javascript/InstagramFeed.min.js"></script>
        <script>
            let feed = new InstagramFeed({
                'tag': 'あんぱん',
                'container': document.getElementById("instagram-feed1"),
                'display_profile': true,
                'display_gallery': true,
                'display_caption': true,
                'styling': true,
                'items': 20,
                'items_per_row': 4,
                'margin': 1,
                'on_error': console.error
            });
        </script>
    <p>&nbsp</p>
<p class="about-content">
{% include about/rationale.md %}
</p>