<header class="bg-gray-100 py-4">
  <div class="container mx-auto flex items-center justify-between pr-4">
    <a class="text-2xl font-bold text-gray-800" href="{{ site.baseurl }}/">
      <h1>{{ site.data.mixin.title }}</h1>
    </a>
    <nav class="flex items-center">
      <div class="flex space-x-4">
        {% include language_switcher.html %} {% assign lang = page.lang %} {%
        assign pages_list = site.pages | where:"lang", page.lang %} {% for node
        in pages_list %} {% if node.title != null %} {% if node.tag != "misc" %}
        {% if node.layout == "page" %}
        <a
          class="{% if page.url == node.url %} active{% endif %} text-gray-800 hover:text-gray-600"
          href="{{ node.url }}"
          >{{node.title}}</a
        >
        {% endif %} {% if node.layout == "builds" %}
        <a
          class="{% if page.url == node.url %} active{% endif %} text-gray-800 hover:text-gray-600"
          href="{{ node.url }}"
          >{{node.title}}</a
        >
        {% endif %} {% if node.tag == "introduction" %}
        <a
          class="{% if page.url == node.url %} active{% endif %} text-gray-800 hover:text-gray-600"
          href="{{ node.url }}"
          >{{node.title}}</a
        >
        {% endif %} {% endif %} {% endif %} {% endfor %}
      </div>
    </nav>
  </div>
</header>
