<div>
  <button
    class="text-medium cursor-pointer border-none text-blue-500 hover:bg-blue-600 hover:underline"
    onclick="openModal()"
  >
    {{ include.param.open_modal }}
  </button>
  <div
    id="modal"
    class="form-container fixed inset-0 z-10 hidden overflow-auto bg-black bg-opacity-50"
  >
    <div
      class="form-content flex h-full w-full flex-col items-center justify-center"
    >
      <div class="modal-box rounded bg-white p-4 shadow-lg">
        <span
          class="close-button float-right cursor-pointer text-2xl text-gray-400"
          onclick="closeModal()"
          >×</span
        >
        <p>{{ include.param.description }}</p>
        <form
          class="mt-2 flex"
          action="https://mDaisukeNet.pythonanywhere.com/signup"
          method="POST"
        >
          <input
            type="email"
            placeholder="xxx@gmail.com"
            name="email_address"
            class="rounded-l border border-gray-300 p-2 outline-none"
          />
          <input type="hidden" name="signup_page" value="{{ page.url }}" />
          <button
            type="submit"
            class="cursor-pointer rounded-r border border-gray-300 bg-blue-500 p-2 text-white outline-none hover:bg-blue-600"
          >
            {{ include.param.submit }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal() {
    document.getElementById("modal").style.display = "block";
  }
  function closeModal() {
    document.getElementById("modal").style.display = "none";
  }

  window.onclick = function (event) {
    const modal = document.getElementById("modal");
    if (event.target === modal) {
      modal.style.display = "none";
    }
  };
</script>
