<div>
    <button class="text-blue-500 border-none cursor-pointer text-medium hover:bg-blue-600 hover:underline" onclick="openModal()">
        {{ include.param.open_modal }}
    </button>
    <div id="modal" class="form-container fixed z-10 inset-0 overflow-auto bg-black bg-opacity-50 hidden">
        <div class="form-content flex flex-col justify-center items-center w-full h-full">
            <div class="modal-box bg-white p-4 rounded shadow-lg">
                <span class="close-button float-right text-gray-400 text-2xl cursor-pointer" onclick="closeModal()">×</span>
                <p>{{ include.param.description }}</p>
                <form class="flex mt-2" action="https://mDaisukeNet.pythonanywhere.com/signup" method="POST">
                    <input type="email" placeholder="xxx@gmail.com" name="email_address" class="p-2 border border-gray-300 rounded-l outline-none">
                    <input type="hidden" name="signup_page" value="{{ page.url }}" />
                    <button type="submit" class="p-2 border border-gray-300 rounded-r bg-blue-500 text-white cursor-pointer hover:bg-blue-600 outline-none">{{ include.param.submit }}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById('modal').style.display = 'block';
    }
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }

    window.onclick = function (event) {
        const modal = document.getElementById('modal');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>
