* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100vh;

  body {
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    background: white;
    color: black;
  }

  @keyframes background {
    0% {
      background-size: 20px 20px;
      transform: rotate3d(1, 0, 0, 45deg) rotate3d(0, 0, 1, 60deg)
        rotate3d(0, 1, 0, -10deg) rotateY(0deg);
    }

    20% {
      background-size: 20px 20px;
      transform: rotate3d(1, 0, 0, 45deg) rotate3d(0, 0, 1, 60deg)
        rotate3d(0, 1, 0, -10deg) rotateY(0deg);
    }

    80% {
      background-size: 10px 10px;
      transform: rotate3d(1, 0, 0, 45deg) rotate3d(0, 0, 1, 60deg)
        rotate3d(0, 1, 0, -10deg) rotateY(70deg) rotateZ(45deg);
    }

    100% {
      background-size: 10px 10px;
      transform: rotate3d(1, 0, 0, 45deg) rotate3d(0, 0, 1, 60deg)
        rotate3d(0, 1, 0, -10deg) rotateY(70deg) rotateZ(45deg);
    }
  }

  div#background {
    position: fixed;
    top: calc(-25vh - 60px);
    left: -180px;
    width: 300vh;
    height: 300vh;
    z-index: -1;
    background: radial-gradient(circle at center, #999 0.6px, transparent 1px)
        center left,
      #fff;
    background-size: 20px 20px;
    transform: rotate3d(1, 0, 0, 45deg) rotate3d(0, 0, 1, 60deg)
      rotate3d(0, 1, 0, -10deg);
    // animation: background 10s ease-in-out 1s infinite alternate;
  }

  @media (orientation: portrait) {
    div#background {
      top: -55vh;
      left: -50vh;
    }
  }
}

html,
body {
  // height: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: #999;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

/* utility */

.wrap::before,
.wrap::after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  zoom: 1;
}

ul.languages {
  list-style-type: none;
}

/* Site header */

.site-header {
  min-height: 56px;
  background-color: white;
}

.post header {
  h1.title {
    margin: 10px 0;
  }
}
.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
  /*margin-top: 10px;*/
}

.sidebar-nav-item {
  padding: 0 10px;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  margin-left: 5px;
  color: #727272;
  font-size: large;
}

/* Root styles */

h1.root {
  margin: 20px 0;
  font-size: 32px;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
  margin-bottom: 25px;
}

.home {
  list-style-type: none;
}

.home li {
  margin-bottom: 30px;
}

li.home_post_intro .post-link {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 2;
  color: cornflowerblue;
}

li.home_post_intro {
  line-height: 1.5;
}

.home .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.home::after {
  clear: both;
}

.related-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer style */
/* ----------------------------------- */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.site-footer__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .contact_icons {
    display: flex;
    align-items: center;

    > div {
      padding: 10px;
    }
  }
}

.profile-tech .link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.footer-heading {
  font-size: 18px;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

.related-posts {
  list-style-type: none;
}

/* About style */
/* ----------------------------------- */

h1.about-header {
  margin-top: 10px;
  margin-bottom: 25px;
  letter-spacing: -1.75px;
  line-height: 1;
  color: cornflowerblue;
}

p.about-content {
  line-height: 1.8em;
  line-break: strict;
  white-space: pre-wrap;
  font-size: 16px;
  color: #131212;
}

.scroll-container {
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 30vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Instagram style */
/* ----------------------------------- */
div.instagram_gallery {
  overflow: visible;
  min-height: 800px;
}

div.container {
  width: 800px;
  min-height: 600px;
  margin: 0 auto;
}

#instafeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  max-width: 64rem;
  margin: auto;
}

/* Youtube */
div.youtubecontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe.yt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#disqus_thread {
  margin: 0 10px;
}

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {
  .footer-col-1 {
    width: 33.3%;
  }

  .footer-col-2 {
    width: 45%;
    /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: 33.3%;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }
}


@media only screen and (max-width: 600px) {
  .post header {
    h1.title {
      // font-size: 1.5rem;
      margin: 5px;
      padding: 0 25px;
    }

    p.meta {
      margin: 5px;
      padding: 0 25px;
    }
  }

  .section {
    height: 60vh;
  }

  .site-header {
    min-height: 70px;
    background-color: white;

    .wrap {
      padding: 0 12px;
      top: 14px;
      left: 8px;

      .site-title {
        font-size: 1.5rem;
        float: left;
      }

      .site-nav {
        position: fixed;
        z-index: 10;
        top: 14px;
        right: 8px;
        float: right;
        background-color: white;
        font-size: 1.5rem;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: transparent;
      }

      .menu-icon {
        display: block;
        font-size: 24px;
        color: #505050;
        float: right;
        text-align: center;
        line-height: 36px;
      }

      .site-nav .menu-icon svg {
        width: 18px;
        height: 16px;
      }

      .site-nav .trigger {
        clear: both;
        border-radius: 10px;
        margin-bottom: 5px;
        display: none;
      }

      .site-nav:hover .trigger {
        display: flex;
        flex-direction: column;
      }

      .page-link {
        display: block;
        text-align: right;
        line-height: 1.25;
        padding: 5px 5px;
        margin: 0;
      }
    }
  }

  .related {
    margin: 0 30px;
  }

  .site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 30px;
  }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px;
  }

  .row {
    width: auto;
    margin: 0 0 15px;
  }
}

.excerpt {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 0 1.2em;
  opacity: 0.6;
  font-weight: 500;
}


/* セクション全体を中央寄せ */
#card, .profile-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
/* aside内の各要素を改行 */
#card aside > * {
  display: block;
margin: 10px 0; /* 各要素の間にマージンを追加 */
}

/* 名前のフォントサイズを大きくする */
#card h1 {
  font-size: 1.8em; /* 例として2emに設定 */
}


.profile-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 左寄せ */
  text-align: left; /* テキストも左寄せ */
  width: 100%; /* 幅を100%に設定 */
  padding: 10px; /* パディングを追加 */
  box-sizing: border-box; /* パディングを含めたボックスサイズを設定 */

}

.profile-section {
  // profile section
  height: 60vh;
  padding: 20px;
}

.section {
  object-fit: cover;
  object-position: center;
  width: 100%;
}


/* スマホ用のレイアウト */
@media (max-width: 768px) {
  #card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* プロフィール画像のサイズを小さくする */
  #profile {
    width: 12em; /* 例として100pxに設定 */
    height: auto; /* アスペクト比を維持 */
    border-radius: 50%;
    border: 2px #fff;
  }

  #card article {
    order: 1;
  }

  #card aside {
    order: 2;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:hover,
  a:active {
    color: #22e39e;
  }

  .profile-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px; /* 間隔を狭める */
    padding: 10px;
  }
  
  .social-icons-links {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons-links:nth-child(odd) {
    justify-content: flex-end; /* 左のアイテムを右寄せ */
  }
  
  .social-icons-links:nth-child(even) {
    justify-content: flex-start; /* 右のアイテムを左寄せ */
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    filter: grayscale(100%);
  }
  
  .social-icon:hover .social-icon{
    transform: scale(1.1);
  }
}

/* タブレット用のレイアウト */
@media (min-width: 769px) and (max-width: 1024px) {
  #card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* プロフィール画像のサイズを中くらいにする */
  #profile {
    width: 15em; /* 例として150pxに設定 */
    height: auto; /* アスペクト比を維持 */
    border-radius: 50%;
    border: 2px #fff;
  }

  #card article {
    order: 1;
    margin-left: 20px;
  }

  #card aside {
    order: 2;
    margin-left: 20px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:hover,
  a:active {
    color: #22e39e;
  }

  .profile-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* 間隔を広げる */
    padding: 10px;
  }
  
  .social-icons-links {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons-links:nth-child(odd) {
    justify-content: flex-end; /* 左のアイテムを右寄せ */
  }
  
  .social-icons-links:nth-child(even) {
    justify-content: flex-start; /* 右のアイテムを左寄せ */
  }
  
  .social-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
    filter: grayscale(100%);
  }
  
  .social-icon:hover .social-icon{
    transform: scale(1.1);
  }
}

/* デスクトップ用のレイアウト */
@media (min-width: 1025px) {
  #card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* プロフィール画像のサイズを大きくする */
  #profile {
    width: 20em; /* 例として200pxに設定 */
    height: auto; /* アスペクト比を維持 */
    border-radius: 50%;
    border: 2px #fff;
  }

  #card article {
    order: 1;
    margin-left: 30px;
  }

  #card aside {
    order: 2;
    margin-left: 30px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:hover,
  a:active {
    color: #22e39e;
  }

  .profile-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px; /* 間隔を狭める */
    padding: 10px;
  }
  
  .social-icons-links {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons-links:nth-child(odd) {
    justify-content: flex-end; /* 左のアイテムを右寄せ */
  }
  
  .social-icons-links:nth-child(even) {
    justify-content: flex-start; /* 右のアイテムを左寄せ */
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    filter: grayscale(100%);
  }
  
  .social-icon:hover .social-icon{
    transform: scale(1.1);
  }
}