/* Post styles */
/* ----------------------------------------------------------*/

.post_list_title {
  color: cornflowerblue;
}

.at-index {
  padding: 10px 0;
}

.post-date {
  color: #818181;
  padding: 5px 0;
}

.post-title {
  font-size: 28px;
  color: cornflowerblue;
}

.post {
  margin: 10px 0;
}


.post h1 {
  line-height: 1;
  color: cornflowerblue;
}

.post .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-genre {
  display: inline-block;
  padding: 4px 8px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.post-content>* {
  margin: 20px 0;
}

.post-content {
  line-height: 1.5;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: 0.6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol {
  padding-left: 20px;
}

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: auto;
}

.post code {
  padding: 1px 5px;
}


.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.image_in_post {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.image_in_post_sm {
  margin: 0 auto;
  display: block;
  max-width: 50%;
}

.image-container_triple {
  display: flex;
  flex-wrap: wrap;

  .image_in_post_sm {
    width: 33%;
    height: auto;
    cursor: pointer;
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  height: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-container_double {
  display: flex;
  flex-wrap: wrap;

  .image_in_post_sm {
    width: 50%;
    padding: 1px;
    height: auto;
  }
}

// work post has diffrent font color

.work-title {
  font-size: 28px;
  color: rgb(65, 200, 227);
}


@media only screen and (max-width: 600px) {
  article p {
    line-height: 1.5;
  }

  .post-content {
    padding: 0 30px;
  }

  .post-content blockquote {
    padding-left: 10px;
  }
}