<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8" />
    {% include head.html %}
  </head>
  <body
    class="primary-light text-gray-900 dark:bg-primary-dark dark:text-gray-100"
  >
    {% include header.html %}
    <div class="container mx-auto max-w-3xl p-4">
      <div class="rounded-lg p-6 dark:bg-primary-dark dark:text-gray-100">
        <div id="background"></div>

        <section class="flex flex-col items-center md:flex-row">
          <article class="mb-4 md:mb-0 md:mr-4">
            <img
              id="profile"
              src="/assets/images/me_face.jpg"
              alt="A picture of me."
              class="h-32 w-32 rounded-full"
            />
          </article>
          <aside class="text-center md:text-left">
            <h1 class="text-2xl font-bold">Daisuke</h1>
            <h4 class="text-lg text-gray-600">@Tokyo</h4>
            <p>{{ site.data.mixin.jp.intro }}</p>
            <a
              target="blank"
              href="https://www.source-maker.co.jp/"
              class="text-primary-link hover:underline dark:text-primary-link-dark"
              >@Source Maker</a
            >
            <p>{{ site.data.mixin.jp.another_intro }}</p>
            <a
              class="text-primary-link hover:underline dark:text-primary-link-dark"
              href="https://mdaisuke.net/dhp/"
              target="_blank"
            >
              @DHP
            </a>
          </aside>
        </section>
        <div class="mt-4 flex justify-center space-x-4">
          <a href="https://twitter.com/aubozumom" target="_blank">
            <img
              class="h-6 w-6"
              src="/assets/images/twitter.svg"
              alt="Twitter"
              title="Twitter"
            />
          </a>
          <a href="https://github.com/DaisukeMiyazaki" target="_blank">
            <img
              class="h-6 w-6"
              src="/assets/images/github.svg"
              alt="GitHub"
              title="GitHub"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/daisuke-miyazaki/"
            target="_blank"
          >
            <img
              class="h-6 w-6"
              src="/assets/images/linkedlin.svg"
              alt="LinkedIn"
              title="LinkedIn"
            />
          </a>
          <a href="mailto:contact@mdaisuke.net" target="_blank">
            <img
              src="/assets/images/email.svg"
              alt="Email"
              title="Email"
              class="h-6 w-6"
            />
          </a>
        </div>
      </div>

      <div class="mt-8">
        {% assign posts = site.posts | where:"lang", page.lang %} {% for post in
        posts %}
        <div class="mb-6">
          <div class="dark:bg-primary-dark dark:text-white">
            <span class="at-index text-gray-300"
              >{{ post.date | date_to_string }}</span
            >
            <span class="text-blue-500"> #{{ post.genre }} </span>
            <h2 class="text-xl font-bold dark:text-gray-300">
              <a href="{{ post.url }}" class="text-blue-500 hover:underline">
                {{ post.title }}
              </a>
            </h2>
            <p class="text-gray-700 dark:text-gray-300">{{ post.excerpt }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="mt-8">
        {% for work in site.data.works %}
        <div class="mb-6">
          <div class="at-index dark:bg-primary-dark dark:text-white">
            <span class="at-index text-gray-600"
              >{{ work.jp.start_at }} ~ {{ work.jp.end_at }}</span
            >
            <span class="text-blue-500"> # work </span>
            <h2 class="text-xl font-bold">
              <a
                href="{{ work.jp.site_link }}"
                class="text-blue-500 hover:underline"
                target="_blank"
              >
                {{ work.jp.title }}
              </a>
            </h2>
            <p class="dark:text-white">{{ work.jp.short }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
